/* You can add global styles to this file, and also import other style files */

*, ::before, ::after {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

:root {
  --unit: 8;
  
  --gray: #888;
  --lightgray: #ddd;

}

h1 {
  color: white;
  margin: calc(1px * var(--unit)) calc(4px * var(--unit));
}

p {
  max-width: 60ch;
}
p:not(:last-child) {
  margin-bottom: 1.5em;
}

button {
  padding: calc(0.5px * var(--unit)) calc(1.5px * var(--unit)) calc(0.75px * var(--unit));
  border: 1px solid var(--gray);
  border-radius: 2px;
  line-height: 1;
  background: var(--lightgray);
}

input, select {
  background: var(--lightgray);
  border-bottom: 2px solid var(--gray);
  border-radius: 2px;

  padding: calc(0.25px * var(--unit)) calc(1px * var(--unit));
}

.content {
  max-width: calc(100px * var(--unit));
  margin: calc(2px * var(--unit)) auto;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}